@model h32.Models.Laptop

@{
    ViewData["Title"] = "Confirm";
}

<h1>Thank You</h1>
<h2>Thanks for shopping with us! We hope to see you back soon.</h2>
<div>
    <h4>Laptop</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dd class = "col-sm-10">
            @ViewData["this"]= "this";
        </dd>
        
    </dl>
</div>
