@{
    ViewData["Title"] = "Index";
}
@model List<string>
<h2>Cart</h2>
@{
    
    foreach(string animal in Model)
{
    <tr>
            <td>
                @animal;
            </td>
           
 </tr>
}}
@*@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>*@